@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    
    Layout = null;

    // Roots
    var site = Model.Content.AncestorOrSelf("Site");
    var lang = Model.Content.AncestorOrSelf("AccueilLangage");

    SectionG.Code.Utilities.ManageLanguageCookie(lang.Name.ToLowerInvariant(), Response);
   
}

<!DOCTYPE html>
<html lang="@lang.Name.ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>@lang.AsDynamic().titre</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" type="image/gif" href="/Images/favicon.gif" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//cdn.datatables.net/1.10-dev/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="/Scripts/main.js"></script>
       
    <!-- Optional theme -->
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">*@
    
    <link href="//code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Css/style.css">    
</head>
<body>
        
    <div class="container">

        @RenderBody()

        @Html.Partial("/Views/Partials/Footer.cshtml")

    </div>

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->	    

    @RenderSection("Scripts", false)

</body>
</html>